<%- include ('partials/header.ejs'); -%>

<h1><Insertar cliente></h1>

<ul>
<% if (errors) { %>
<% errors.forEach( function(error){  %>
	<li><%=error.msg %></li>
<% }) %>
<% } %>

</ul>

<ul>
<form method="POST" action="/users/add" id="form">
	<label>Nombre</label>
	<input type="text" name="first_name" id="first_name">
	<br>
	<label>Apellido</label>
	<input type="text" name="last_name" id="last_name">
	<br>
	<label>Email</label>
	<input type="text" name="email" id="email">
	<br>
	<input type="button" Value="Enviar" onclick="boton()" id="boton_submit" name="boton_submit"> <!-- Si llamo submit al boton falla -->
</form>

</ul>
	<h1><%=title %></h1>
<ul>
<% users.forEach(function(user) { %>
		<li><%=user.first_name %> <%= user.last_name%> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a> <a href="#" class="editUser" data-id="<%= user._id %>">Edit</a></li>
<% }) %>
</ul>


<%- include ('partials/footer.ejs'); -%>
